button {
  width: 200px;
  height: 100px;
  font-size: 24px;
}

#my-button {
  background-color: orchid;
  color: white;
}
/* picked up this script from the circles menu */
/* .leaf-button {
    width:50%;
} */

.leaf-button {
  background-color: rgb(185,212,73);
  display: block;
  width: 100px;
  height:1px;
  padding-bottom: 75px;
  padding-top: 20px;
  -moz-border-radius:50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 1px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform:uppercase;
  float:left;
  line-height:1em;
  margin-left: 1px;
  margin-right: 1px;
}
